

@using Microsoft.AspNetCore.Http;
@using MyPanditJee.Common;

@{
    ViewData["Title"] = "Landing";

}

@{
    var userId = Context.Session.GetString("userId");
    var userType = Convert.ToInt32(Context.Session.GetString("userType"));
    var userName = Context.Session.GetString("userName");
    var employerName = Context.Session.GetString("employerName");
}
@{
    var encryptEmail = CommonCode.base64Encode(userId);

}

<h1>Landing</h1>
<div>
    @if (userType == 0)
    {
        <h1><a asp-controller="Profile" asp-route-encryptEmail="@encryptEmail" asp-action="UserProfile"> @userName</a></h1>
    }
    <a asp-controller="Login" asp-action="Login">Login</a>
</div>
