
@{
    ViewData["Title"] = "Landing";
    Layout = "~/Views/Home/Index.cshtml";
}

<h1>Landing</h1>
<div>
    <div>
        <a asp-controller="Login" asp-action="Login">Login</a>
    </div>
    <div>
        <a asp-controller="Registration" asp-action="UserRegistration">Sign up</a>
    </div>
</div>

