@model MyPanditJee.Models.LoginModel

@{
    ViewData["Title"] = "Login";

}
<link href="~/css/Login.css" rel="stylesheet" />
<body>
    <div class="container "></div>
    <div class="row">
        <div class="col-lg">
            <form class="login-form" asp-action="Login">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <h1>Login</h1>
                <div class="form-input-material">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-input-material">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <button type="submit" value="Login" class="log-in">Login</button>
                <div class="other">

                    <button class="btn submits frgt-pass">Forgot Password</button>
                    <button type="submit" value="Login" class="btn submits sign-up">
                        Sign Up
                        <i class="fa fa-user-plus" aria-hidden="true"></i>
                    </button>
                </div>
            </form>

        </div>
    </div>
</body>
