@model MyPanditJee.Models.UserRegistrationModel

@{
    ViewData["Title"] = "UserRegistration";

}
<link href="~/css/UserRegistration.css" rel="stylesheet" />
<h1>UserRegistration</h1>




<body>
    <div class="container "></div>
    <div class="row">
        <div class="col-lg">
            @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
            {
                <p class="alert alert-danger">@ViewBag.ErrorMessage</p>
            }
            <form class="form-signin" asp-controller="Registration" asp-action="UserRegistration">
                <div class="form-label-group">
                    <input type="text" id="inputFullName" asp-for="Name" class="form-control" placeholder="Full name" required autofocus>
                    <label for="inputFullName"></label>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-label-group">
                    <input type="email" id="inputEmail" asp-for="Email" class="form-control" placeholder="Email address" required autofocus>
                    <label for="inputEmail"></label>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-label-group">
                    <input type="number" id="inputPhone" asp-for="Phone" class="form-control" placeholder="Phone number" required autofocus>
                    <label for="inputPhone"></label>
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>

                <div class="form-label-group">
                    <input type="password" id="inputPassword" asp-for="Password" class="form-control" placeholder="Password" required>
                    <label for="inputPassword"></label>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-label-group">
                    <input type="password" id="inputConfirmPassword" asp-for="ConfirmPassword" class="form-control" placeholder="Confirm password" required>
                    <label for="inputConfirmPassword"></label>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="log-in" />
                </div>
            </form>

        </div>
    </div>
</body>