* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'segoe ui';
}

.nav {
    height: 50px;
    width: 100%;
    background-color: #4e494b00;
    position: relative;
    z-index: 1;
}

    /*Logo*/
    .nav > .nav-header {
        display: inline;
    }

        .nav > .nav-header > .nav-title {
            display: inline-block;
            font-family: Arial, Helvetica, sans-serif;
            padding: 10px 10px 10px 10px;
            font-size: 22px;
            color: #fff;
            font-weight: 500;
        }

    .nav > .nav-links {
        font-size: 18px;
        display: inline;
        float: right;
    }

        /*Links*/
        .nav > .nav-links > ul li a {
            color: #000;
            line-height: 40px;
            font-size: 18px;
            font-weight: 500;
            display: block;
            padding: 0 8px;
            text-decoration: solid;
        }

        .nav > .nav-links > ul {
            list-style: none;
            position: relative;
            padding: 0;
            margin-top: 5px;
        }

            .nav > .nav-links > ul li {
                display: inline-block;
                text-color: black;
                background-color: #ff853300;
            }

                .nav > .nav-links > ul li:hover {
                    background-color: #b1b1b1;
                    border-radius: 5px;
                    background-color: #a7a5a5;
                }

    /*Icons*/
    .nav .nav-links ul a.icon {
        margin-left: 80px;
        margin-right: 10px;
    }

    .nav .nav-links ul a i {
        padding: 7px;
        margin-left: 5px;
        background-color: #fff;
        border-radius: 50px;
    }

    /*Tonggle Btn*/
    .nav > .nav-btn {
        display: none; /*Hide toggle button for desktop*/
    }

    .nav > #nav-check {
        display: none;
    }

/*-↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓-------For Responsive code --------------↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓----*/

@media (max-width:750px) {
    .nav {
        background: #5e5e5e9e;
    }

        .nav > .nav-btn {
            display: inline-block;
            position: absolute;
            right: 0px;
            top: 0px;
        }

            .nav > .nav-btn > label {
                height: 50px;
                padding: 13px;
                display: inline-block;
                width: 50px;
            }

                .nav > .nav-btn > label:hover, .nav #nav-check:checked ~ .nav-btn > label {
                    background-color: rgb(0 0 0 / 30%);
                    border-radius: 10px
                }

                .nav > .nav-btn > label > span {
                    height: 10px;
                    border-top: 2px solid #eee;
                    display: block;
                    width: 25px;
                }

        .nav > .nav-links {
            position: absolute;
            height: 0px;
            transition: all 0.3s ease-in;
            overflow-y: hidden;
            top: 50px;
            display: block;
            width: 100%;
            background-color: #5e5e5e9e;
            left: 0px;
        }

            .nav > .nav-links > ul li a {
                display: block;
                width: 100%;
            }

            /*   */
            .nav > .nav-links > ul li:hover {
                border-radius: 55px;
                background-color: #a7a5a5;
            }


            .nav > .nav-links > ul li {
                padding: 0;
                background-color: #0000;
                display: block;
                margin-bottom: 20px;
                /* border-radius: 50px; */
            }

                .nav > .nav-links > ul li a {
                    margin-left: 40%;
                }

        .nav .nav-links ul a.icon {
            margin-left: 33%;
        }

        /*   */
        .nav > #nav-check:not(:checked) ~ .nav-links {
            height: 0px;
        }

        .nav > #nav-check:checked ~ .nav-links {
            height: calc(100vh - 50px);
            overflow-y: auto;
        }
}
