@using Microsoft.AspNetCore.Http;
@using MyPanditJee.Common;
@{
    var userId = Context.Session.GetString("userId");
    var userType = Convert.ToInt32(Context.Session.GetString("userType"));
    var userName = Context.Session.GetString("userName");
   // var employerName = Context.Session.GetString("employerName");
}

@{
    var encryptEmail = CommonCode.base64Encode(userId);

}

<link href="~/css/Navbar.css" rel="stylesheet" />




<div class="nav">
    <!--logo-->
    <input type="checkbox" id="nav-check">
    <div class="nav-header">
        <div class="nav-title">
            PanditJee
        </div>
    </div>
    <!--toggle button for mobile-->
    <div class="nav-btn">
        <label for="nav-check">
            <span></span>
            <span></span>
            <span></span>
        </label>
    </div>

    <div class="nav-links">
        <ul>
            <!--menu Item-->
            <li><a asp-controller="Home" asp-action="Landing">Home</a></li>
            <li><a asp-controller="Home" asp-action="About">About</a></li>
            <li><a asp-controller="Home" asp-action="Contact">Contact</a></li>
            <li> <a asp-controller="Login" asp-action="Login">Login</a></li>
            <li><a asp-controller="Registration" asp-action="UserRegistration">Sign up</a></li>
            <li><a asp-controller="Registration" asp-action="PanditJeeRegistration">Sign up as Pandit</a></li>
        </ul>
       



    </div>
</div>
